ExpenseReportingConsole/Connected Services/ExpenseReportsService/ExpenseReportingService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseReportingService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseReportingService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExpenseReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseReport" nillable="true" type="tns:ExpenseReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseReport" nillable="true" type="tns:ArrayOfExpenseReport" />
  <xs:complexType name="ExpenseReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Added" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpenseReportId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseReport" nillable="true" type="tns:ExpenseReport" />
</xs:schema>